<div class="app-panel" role="banner">
  <div class="app-panel__wrapper-border">
<div class="app-panel__wrapper">
  <p class="app-panel__input">
    <label>Timer, ms</label>
    <input [formControl]="timerModuleCtrl" type="number" id="timerModuleCtrl">
  </p>
  <p class="app-panel__input">
    <label>Array size</label>
    <input [formControl]="arraySizeModuleCtrl" type="number" id="arraySizeModuleCtrl">
  </p>
  <p class="app-panel__input">
    <label>Additional array ids</label>
    <input [formControl]="additionalArrayIdsModuleCtrl" type="string" id="additionalArrayIdsModuleCtrl">
  </p>
</div>
<div class="app-panel__wrapper-table">
  <table class="app-panel__table">
    <thead>
      <tr>
        <th>id</th>
        <th>int</th>
        <th>float</th>
        <th>color</th>
        <th>child</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of listItems$ | async">
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.int}}</td>
        <td>{{setFloat(item.float)}}</td>
        <!-- <td>{{item.float | number : '1.0-6' }}</td> -->
        <td><span [style.background]="item.color">{{item.color}}</span></td>
        <td>
        <table class="app-panel__table-child">
          <tr>
            <td>id</td>
            <td>color</td>
          </tr>
          <tr>
            <td>{{item.child.id}}</td>
            <td><span [style.background]="item.child.color">{{item.child.color}}</span></td>
          </tr>
        </table>
      </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
</div>
</div>

